include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title Karneval
    .Project-subTitle Illustration, packaging, branding

    p This was a personal project. I want ed to create a boutique product that takes my audience on a journey through a brand story. I chose paint and was instantly inspired and excited by the possibility of doing something bold and playful.
    .Project-sectionTitle Karneval Colours—The Story
    p During the brisk autumn of 1886, the well–traveled Swedish explorer, Frederik Bergman spent a night in a remote inn. Over a modest meal that evening, our hero, Bergman talked with a fellow hotel guest, Sannois, a travelling composer.
    p Bergman’s vast collection of notes and sketches astounded Sannois. Inspired by the colours, Sannois later composed his most celebrated work, The Carnival of the Animals and dedicated the piece to Bergman.
    p In 1987, Bergman Bros Painters and Decorators rediscovered Frederik Bergman’s original drawings, along with the note of thanks that Sannois had attached to his composition. In celebration, the Bergman brothers founded Karneval Colours Limited.
    p Since its inception, Karneval Colours has been capturing Bergman’s passion for natural colour, and joins Sannois in celebrating and sharing that passion with the world.
    p I developed the brand look-and-feel both visually through design, and stylistically by assisting with copywriting across the product. I also helped lead user testing sessions, the results of which provided invaluable insight for future design iterations.

  .container
    +responsiveImage("/img/karneval/karneval.png")

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/karneval/parrot.png")
      .Gallery-image
        +responsiveImage("/img/karneval/elephant.png")

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/karneval/whale.png")
      .Gallery-image
        +responsiveImage("/img/karneval/swan.png")

  .container
    +responsiveImage("/img/karneval/pots.jpg")

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/karneval/poster.jpg")
      .Gallery-image
        +responsiveImage("/img/karneval/apron.jpg")

  include ../includes/behance
