.container
  .Behance
    h3 See more of my work on
      a(href="https://www.behance.net/rachelmsalmon" target="_blank")  Behance
      |  or
      a(href="https://dribbble.com/rachelsalmon" target="_blank")  Dribbble
      | .

