footer.Footer
  .Footer-column
    .Footer-title Contact
    a.Footer-link(href="mailto:rachel@salmondesign.co") rachel@salmondesign.co
  .Footer-column
    .Footer-title Social
    a.Footer-link(href="https://twitter.com/salmondesign" target="_blank") Twitter
    a.Footer-link(href="https://www.behance.net/rachelmsalmon" target="_blank") Behance
