footer.Footer
  .Footer-container
    .Footer-title Say hello
    .Footer-links
      a.Footer-link(href="mailto:rachel@salmondesign.co") rachel@salmon.design
      a.Footer-link(href="https://twitter.com/salmondesign") @salmondesign
