footer.Footer
  .Footer-column
    .Footer-title Contact
    a.Footer-link(href="mailto:rachel@salmondesign.co") rachel@salmondesign.co
  .Footer-column
    .Footer-title Social
    a.Footer-link(href="mailto:rachel@salmondesign.co" target="_blank") Twitter
    a.Footer-link(href="mailto:rachel@salmondesign.co" target="_blank") Behance
    a.Footer-link(href="mailto:rachel@salmondesign.co" target="_blank") Instagram
