.FeatureHeading {
  &:extend(h2);
  color: #009A92;
}

.Featured {
  &:extend(.section);
  /*padding: 10em 0 15em 0;*/
  color: white;
  position: relative;
}

/*
.Featured:nth-of-type(odd) {
  transform: skew(0, -1deg);
  margin: -5% auto;
}

.Featured:nth-of-type(odd) > * {
  transform: skew(0, 1deg);
}

.Featured:nth-of-type(even) {
  transform: skew(0, 1deg);
  margin: -5% auto;
}

.Featured:nth-of-type(even) > * {
  transform: skew(0, -1deg);
}

.Featured:last-of-type {
  padding: 10em 0;
}
*/


.Featured {
  .Featured-date, .Featured-title, .Featured-description {
    transition: transform 0.3s;
    transform: translateZ(0);
  }
}

.Featured:hover {
  .Featured-date {
    transform: translate3d(0, -4px, 0);
    transition: transform 0.3s;
  }

  .Featured-title {
    transform: translate3d(0, -6px, 0);
    transition: transform 0.4s;
  }

  .Featured-description {
    transform: translate3d(0, -8px, 0);
    transition: transform 0.6s;
  }
}

.Featured-date {
  font-size: 1em;
  opacity: 0.6;
  text-transform: uppercase;
}

.Featured-year {
  font-size: 1.2em;
}

.Featured-title {
  &:extend(h1);
  margin: 0;
}

.Featured-description {
  &:extend(h3);
  margin: 0;
  margin-bottom: 1em;
}

.Featured-image {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

.Feature-image--oxfam {
  background-image: url(/img/featured/oxfam.svg);
}

.Feature-image--microsoft {
  background-image: url(/img/featured/microsoft.svg);
}

.Feature-image--capucine {
  background-image: url(/img/featured/capucine.svg);
}

.Feature-image--liveaboard {
  background-image: url(/img/featured/liveaboard.svg);
}

.Feature-image--arts {
  background-image: url(/img/featured/arts.svg);
}

.Featured-link {
  color: white;
  border: 1px solid white;
  border-radius: 5px; 
  padding: 0.5em 1em;
}

.Featured-link:hover {
  border: 1px solid white;
  background-color: white;
}

.Featured--microsoft {
  background-color: #009A92;

  .Featured-link:hover {
    color: #009A92;
  }
}

.Featured--oxfam {
  background-color: #9380E2;

  .Featured-link:hover {
    color: #9380E2;
  }
}

.Featured--capucine {
  background-color: #EF4C3D;

  .Featured-link:hover {
    color: #EF4C3D;
  }
}

.Featured--liveaboard {
  background-color: #215273;
  
  .Featured-link:hover {
    color: #215273;
  }
}

.Featured--arts {
  background-color: #E3137E;

  .Featured-link:hover {
    color: #E3137E;
  }
}
