.FeatureHeading {
  &:extend(h2);
  color: #009A92;
}

.Featured-container {
  display: flex;
  flex-wrap: wrap;
}

.Featured {
  margin: 0;
  color: white;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  @media @desktop {
    width: 50vw;
    height: 50vw;

    .Featured-content {
      transition: opacity 300ms 200ms;
      opacity: 0;
      z-index: 1;
    }
  }
}

.Featured:hover {
  .Featured-content {
    opacity: 1;
  }
}

.Featured-date {
  font-size: 1.5em;
  opacity: 0.7;
  position: absolute;
  top: 40px;
  left: 40px;
}

.Featured-year {
  font-size: 1.2em;
}

.Featured-title {
  &:extend(h2);
  margin: 0;
}

@media @desktop {
  .Featured-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-size: cover;
    opacity: 0.99;
    transition: opacity 300ms;
  }

  .Featured-image:hover {
    opacity: 0;
  }

  .Featured-image--oz {
    background-image: url(img/featured/oz.jpg);
  }

  .Featured-image--oxfam {
    background-image: url(img/featured/oxfam.jpg);
  }

  .Featured-image--microsoft {
    background-image: url(img/featured/microsoft.png);
  }

  .Featured-image--liveaboard {
    background-image: url(img/featured/liveaboard.jpg);
  }
}

.Featured-link {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-weight: 400;
  transition: all 0.3s;
  font-size: 20px;
  display: block;
  width: 250px;
  margin: 50px auto 0 auto;
}

.Featured-link:after {
  content: '';
}

.Featured-link:hover {
  border: 1px solid white;
  background-color: white;
  transition: all 0.3s;
}

.Featured--oz, .Featured--oz:hover {
  background-color: #d833e2;

  .Featured-link:hover {
    color: #d833e2;
  }
}

.Featured--microsoft, .Featured--microsoft:hover {
  background-color: #009A92;

  .Featured-link:hover {
    color: #009A92;
  }
}

.Featured--oxfam, .Featured--oxfam:hover {
  background-color: #9380E2;

  .Featured-link:hover {
    color: #9380E2;
  }
}

.Featured--liveaboard, .Featured--liveaboard:hover {
  background-color: #215273;

  .Featured-link:hover {
    color: #215273;
  }
}
