.Footer {
  .width(12);
  padding: 2em;
  margin: 0 auto;
  display: flex;
}

.Footer-column {
  .width(6);
  margin: 0;
}

.Footer-title {
  font-weight: 700;
}

.Footer-link {

}

.Footer-link + .Footer-link {
  margin-left: 1em;
}
