@import "grid";
@import "colors";

.Footer {
  &:extend(.container);
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid @border;
}

.Footer-container {
  margin: 2em -1.5em;
  width: 100%;
}

.Footer-title {
  font-weight: 700;
  margin: 0 1.5em;
}

.Footer-links {
  display: flex;
  flex-wrap: wrap;
}

.Footer-link {
  margin: 0 1.5em;
}
