@import "responsive";

@media @tablet {
  .Gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1.5rem -1.5em;
  }

  .Gallery-image {
    padding: 1.5em 0 0 1.5em;
    flex: 1;
  }

  .Gallery-image + .Gallery-image {
    margin: 0;
  }
}

