@import "colors";

.Hero {
  &:extend(.section);
  &:extend(.muted);
  text-align: center;
  background-image: url(img/hero.png);
  background-size: cover;
  background-position: 50% 0%;

  h1 {
    color: @heading;
  }

  em {
    font-style: normal;
    font-weight: 400;
    color: @heading;
  }
}
