@import "colors";

.Hero {
  &:extend(.muted);
  text-align: center;
  padding-bottom: 2em;

  h1 {
    color: @heading;
  }

  em {
    font-style: normal;
    font-weight: 400;
    color: @heading;
  }
}
