@import "colors";

.Hero {
  &:extend(.muted);
  text-align: center;
  padding-bottom: 55px;

  h1 {
    color: @heading;
  }

  em {
    font-style: normal;
    font-weight: 400;
    color: @heading;
  }

  .HeroLinks {
    margin: 0 -20px;
    margin-top: 70px;
  }

  .HeroLink {
    &:extend(.Header-link);
    margin: 0 20px;
  }
}
