@import "grid";
@import "colors";

.Project {
  .width(12);
  margin: 0em auto;
  padding: 2em 0;
}

.Project-columns {
  .width(16);
  display: flex;
  margin: 0 auto;
}

.Project-columnLeft {
  .width(10);
}

.Project-columnRight {
  .width(8);
}

.Project-title {
  &:extend(h2);
  margin: 0;
  text-align: center;
}

.Project-subTitle {
  &:extend(h3);
  margin: 0;
  text-align: center;
  color: @brand-green;
}
