@import "grid";
@import "colors";

.Project {
  &:extend(.container);
  margin: 0 auto;
  margin-top: 2rem;
}

.Project-container {
  .width(8);
  margin: 0 auto;
}

.Project-columns {
  .width(16);
  display: flex;
  margin: 0 auto;
}

.Project-columnLeft {
  .width(10);
}

.Project-columnRight {
  .width(8);
}

.Project-title {
  &:extend(h2);
  margin: 0;
  text-align: center;
}

.Project-subTitle {
  &:extend(h3);
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
  color: @link;
}

.Project-section {
  margin-top: 40px;
}

.Project-sectionTitle {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.Project-images {
  margin: 20px -10px;

  @media @tablet {
    margin: 20px 0;
  }

  @media @desktop {
    margin: 40px -@1cols;
  }

  @media @extra-large {
    margin: 40px -@2cols;
  }

  img + img {
    margin: 0;
  }
}
