@import "colors";
@import "grid";

.Resume {

}

.Resume-section {
  padding: 1em 0;
  text-align: center;
}

.Resume-sectionTitle {
  &:extend(h3);
  color: @brand-green;
  text-align: center;
}

.Job {
  padding: 1em 0;
  display: flex;
  text-align: left;
}

.Job-date {
  .width(4);
  text-align: right;
  padding-right: 2em;
  margin-top: 3px; // align with title
}

.Job-details {
  .width(8);
  margin: 0;
  padding-left: 2em;
  position: relative;
}

.Job-details:before {
  content: '';
  position: absolute;
  left: -16px;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: @brand-green;
  border-radius: 50%;
}

.Job-details:after {
  content: '';
  position: absolute;
  top: 50px;
  bottom: 5px;
  left: -2px;
  border-left: 2px solid @border;
}

.Job-title {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

.Job-subtitle {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0;
}

.Job-description {
}
