@import "colors";
@import "grid";
@import "responsive";

.Resume {
  .container {
    padding: 0 35px;
  }
}

.Resume-about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.Resume-pic {
  background-image: url(img/rachel.jpg);
  background-size: cover;
  width: @3cols;
  height: @3cols;
  border-radius: 50%;
  margin: 0 auto 35px auto;
}

.Resume-aboutDetails {
  .width(7);
}

.Resume-section {
  padding: 1em 0;
}

.Resume-sectionTitle {
  &:extend(h3);
  color: @link;
  text-align: center;
}

.Job {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.Job-date {
  .width(6);
  text-align: left;
  padding-left: 2rem;
  font-size: .85rem;
  margin-bottom: 1em;

  @media @desktop {
    text-align: right;
    padding-left: 0;
    padding-right: 2em;
  }
}

.Job-details {
  .width(6);
  margin: 0;
  padding-left: 2em;
  position: relative;
}

.Job-details:before {
  content: '';
  position: absolute;
  left: -14px;
  top: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid @brand-green;
}

.Job-details:after {
  content: '';
  position: absolute;
  top: 50px;
  bottom: 5px;
  left: -2px;
  border-left: 2px solid @border;
}

.Job-title {
  &:extend(h4);
  margin: 0;
}

.Job-subtitle {
  font-size: 0.8em;
  line-height: 1;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
  color: @muted;
}

.Job-description {
}
