@import "grid";
@import "responsive";

body {
  box-sizing: border-box;
}

img {
  outline: none;
  border: none;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @media @tablet {
    .width(10);
    padding: 0;
  }

  @media @desktop {
    .width(12);
  }
}

.container--wide {
  .width(4);
  margin: 0 auto;

  @media @tablet {
    .width(10);
  }

  @media @desktop {
    .width(16);
  }
}

* + * {
  margin-top: 1.5rem;
}

.section {
  padding: 8em 0;
  margin: 0;
  width: 100%;
}
