include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title GRID
    .Project-subTitle Design System, UI / UX Design

    p GRID is a smart spreadsheet with an interactive datavis layer and integrated AI assistance. Users can build interactive web documents, powered by their own data. 
    p I had the pleasure of joining GRID as part of a fledgling design team. I joined forces with Krissa, the UX designer to move GRID from being a very functional tool for the most spreadsheet savvy users, to something that was easy to use, no matter your proficiency with existing spreadsheet software - and beautiful to look at too! 
    p I began my time at GRID auditing the existing GRID product components, ensuring design consistency and removing any superfluous components.
    p I built on this foundational work to evolve what was essentially a loose collection of components into a functional 
      a(href="https://www.figma.com/file/ayTlT1GEc7vxnJGU9ol2Sv/UI-Components?type=design&node-id=1%3A9434&mode=design&t=3mcSss5nKpKLbBsa-1" target="_blank") design system.
    p This also presented me with an unmissable opportunity to bake accessibility into the foundations of our user experience. 
 

    .Project-images
      +responsiveImage("/img/grid/design-system.png")
    
    p I worked with Krissa on reimagining the product user experience at the most basic level, including three key product KPIs for product growth: the onboarding process; building the first GRID document; and sharing said GRID document to the world (or more privately, if the case may be). 
    p As our target audience of Gen Z + Millennials (~20-40yo) became better defined, it was evident that a rebrand was essential for increased product adoption. I led what was a complete UI overhaul of the GRID product, affecting every touchpoint, elevating overall product usability and brand quality.  
      
    .Project-images
      +responsiveImage("/img/grid/home.png")
      +responsiveImage("/img/grid/my-account.png")
      +responsiveImage("/img/grid/grid-editor.png")


    p GRID offered some truly unique design challenges, many of which did not already have tried and tested design patterns established elsewhere. I loved collaborating on ideas across teams and then translating these ideas into visually appealing designs. I communicated design rationale clearly using prototypes and presentations, gaining buy-in and support for design decisions. And as the design team grew, I developed and helped implement the design system and design sharing processes to increase productivity, and ease collaboration.
    p The design process was iterative as we quantified the impact of design improvements in collaboration with the growth team, through metrics such as increased user engagement, and improved conversion rates.
    p The result was a product that aligns more aesthetically with its target audience, with a look that sat comfortably alongside major platforms already adopted by our users, such as Notion and Airtable. I helped develop an easy-to-use product that allows modern, non-technical knowledge teams to go beyond traditional spreadsheets, to create narratives, and conversations on a single, user-friendly surface.

  .Quote.Quote--grid
    .container
      .Quote-body Rachel made GRID beautiful. She took on the task to make a data tool friendly and approachable, and did so with style! 
      .Quote-attribution Hjalmar Gislason - Founder & CEO, GRID

  .Project
    p See the full project live, and sign up for a free account at  
      a(href="https://www.grid.is/" target="_blank") grid.is
