include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title OZ
    .Project-subTitle Web and mobile design

    .container
      p I spent nine months working as part of a two-person design team ot OZ, a startup in downtown Reykjavik. I helped create dozens of designs so OZ could be enjoyed across web, mobile and TV, as well as regularly producing various online and print marketing material.
      p I developed the brand look-and-feel both visually through design, and stylistically by assisting with copywriting across the product. I also helped lead user testing sessions, the results of which provided invaluable insight for future design iterations.
      a(href="http://oz.com" target="_blank") oz.com

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/oz/gusgus-feed", "jpg")
        .Gallery-caption club home page
      .Gallery-image
        +responsiveImage("/img/oz/oz-logo", "png")
        +responsiveImage("/img/oz/ipad-air-moments", "jpg")
        .Gallery-caption creating a 'moment' - iPad design

  .Quote.Quote--oz
    .container
      .Quote-body Rachel is a versatile designer. Her work is clean, structured and balanced. Working with her was an absolute joy.
      .Quote-attribution Arnar Olafsson - Lead Designer, OZ

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/oz/creator-mac", "jpg")
        .Gallery-caption creator dashboard
      .Gallery-image
        +responsiveImage("/img/oz/email-mac", "jpg")
        .Gallery-caption user emails

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/oz/mobile-both", "jpg")
        .Gallery-caption club home empty screens
      .Gallery-image
        +responsiveImage("/img/oz/retro-poster",  "jpg")
        .Gallery-caption print marketing

  include ../includes/behance
