extends ../layout.jade
block content
  .Resume
    .container

      .Resume-section
        .Resume-sectionTitle Talks            

  .Talk
    .container
      p I was honoured to be invited to speak at the 2019 IceWeb awards in Reykjavík, hosted by 
        a(href="https://www.svef.is/" target="_blank") SVEF. 
        | I spoke about founding Iceland's latest meet-up: 'Women In Design - Reykjavik'.
      p Below is the transcript from my talk.

      img(src="/img/talks/iceweb2019.jpg")

      .transcript
        h2 Women In Design
        h3 The what, why and how of Reykjavik's latest meet-up.
      
        p I was at work one day sometime ago, when my colleague said to me, ‘Rachel, we are looking to hire another digital designer, and we’d really like to have more women in the team. Do you know of anyone we could ask?’

        p I was really pleased with this question, being the only woman on the design team at that time and wanting to help diversify my workplace.

        p I thought hard about who I could ask, but–rather embarrassingly–I couldn’t think of anyone. Particularly not in the field of digital design. 

        p This shocked me! Yes, I had only been in Iceland a short time at that point, but not a single female senior designer came to mind. I knew there must be other female senior digital designers in Iceland, but I just didn’t know about them. And apparently nor did any of my colleagues. 
        
        p This was the moment I realised I had to do something. 
      
        p And so, a bit over a year ago, I made a logo, I gathered a few contacts, sent some personal invites and organised the first 'Women In Design - Reykjavik' meetup. It was to be a meet-and-greet networking event at a pub. Very informal and a good opportunity to share some ideas with other designers. 

        p The night arrived and the attendance for the first event, was precisely… one. 

        p Me. 

        p It was embarrassing, especially after 45 minutes, when a waitress in the event space brought me some sympathy bread and butter.

        p I ate that bread and butter, alone at a large empty table. I was discouraged. And wondered if this was something I wanted to do after all...

        p But after an hour, I went home and, though disappointed, I knew this was not going to be an overnight success. I realised it would take patience and commitment. 

        p A month later I tried again, and advertised better. I invited my friend and new colleague, UX researcher, Anna Signý to talk about her work. A handful of really interesting women and men showed up, and the events–I’m pleased to say–have been growing steadily ever since.
        
        h4 What does Women in Design look like?

        p So far, the women in design events have welcomed everyone. But the focus is on showcasing women who are doing amazing work every day in the Icelandic design and tech industry. At each event, there is a female speaker who is given a platform to share their experiences and ideas. This then works as a catalyst for great discussion and questions.

        p We then have a closed 
          a(href="https://www.facebook.com/groups/WomeninDesignReykjavik/" target="_blank") Facebook 
          | and Slack channel for all the women who want to be involved. Here we share tips, ask advice, share articles, and so on. 

        p I also plan to hold women-only events, where we can discuss more specific gender issues of the industry, and offer training and mentorship.

        h4 Why?

        p Wouldn’t both men and women benefit from communities like this? Why is much of this aimed at women? And particularly in Iceland which has been ranked at the top of the World Economic Forum’s Gender Equality Index since 2009? Is a group like this relevant?

        p Well, inded there was a little backlash when I first started advertising and inviting women to the group, some even calling it ‘discrimination’. Or questioning why I would want to further silo women, or create a greater ‘us vs them’ divide. 

        p Well, I don’t want to do or support any of those things. I am totally for and am a part of mixed-gender design groups and conferences. Groups for both men and women in design already exist in Iceland, and these are amazing places to go for inspiration, feedback, advice, and news. Examples include SVEF, (who are hosting this event today), Íslensk vefhönnun Facebook groups and Slack channels, and many others. 

        p But in a male-dominated industry, that needs to see a fairer gender balance - particularly in leadership positions - this group, and others like it, exist to bring about change. That change being an equal numbers of men and women in senior design positions. 


        h4 Being “the only one” is still a common experience for women
        
        p Every year Leanin.org and McKinsey &amp; Company release a report entitled Women In The Workplace. According to the Women in the Workplace report from 2018, one in five women say they are often the only woman or one of the only women in the room at work. This is twice as common for senior-level women and women in technical roles.

        p So, just as I was, it is common that female designers are the only women in their department or design team. The only women ‘in the room’.

        p The report reveals that these ‘odd women out’ are having a significantly worse experience in the workplace than women who work with other women. They are more likely to have their abilities challenged, to be subjected to unprofessional and demeaning remarks, and to feel like they cannot talk about their personal lives at work. It also impacts the way women view their workplace. They are less likely to think that promotions are fair and objective, and ideas are judged by their quality rather than who raised them. 

        p The visibility of female designers at and above design director level is lacking. If you’re female and happen to be in an imbalanced workplace and aspiring to leadership roles, you begin to wonder, where have all the women gone? 

        p Not surprisingly, given the negative experiences and feelings associated with being the odd woman out, these women are also 50% more likely to think about leaving their job.

        p I believe the idea of ‘You can’t be what you can’t see’ plays a big part in this problem. 

        p We lack role models.
        
        h4 Mentorship &amp; Sponshorship
        p Another issue women face in the workplace is the lack of mentorship, and what is known as sponsorship. 

        p The sponsors in your life are the individuals with the power to influence the decision makers above or around you in your professional context. They are those people who will spend their valuable political and social capital on you to help you ascend in your career. 

        p Mentorship–and particularly sponsorship–play a significant part in career progression for everyone. As its these relationships, combined with your work, that is what ultimately opens doors and creates opportunities. 

        p Unfortunately, this is often where women miss out. Our hard work goes unnoticed because we tend not to shout loud enough about it, or we don’t invest in or benefit from sponsor relationships. This helps to explain why fewer women end up in senior positions. 

        p However, our peers can serve as valuable advocates and advisors. 

        p I didn’t actually start Women In Design with all of this in mind. I started this group because I wanted to meet more women working in design and hear what they are working on. I wanted to hear of other opportunities in the industry. I wanted to build my network. I wanted to learn from other women. And I wanted to enable others to do the same.  

        p But then, with the rising interest and growth in attendees over the last year, I am inspired with what can be done with this platform. 

        p Now, the aim with Women In Design is to create a physical and online space where women can come together and pursue their careers, with the support of a network. Rather than work in pockets or silos, which is how it often plays out, we are coming together to forge professional and personal relationships, and highlight each others potential. 

        p It’s a platform for female designers to put themselves at the forefront — be vocal about their work, volunteer to give talks, and gain the confidence to be seen in the industry.

        h4 Women in Design is more than a support group

        p Yes, this community is a safe space to ask important questions, compare experiences, be inspired, learn new things, and be encouraged. But it’s also an opportunity to connect each other with or 
          em be 
          | sponsors for each other.


        h4 So, how’s it going?

        p Women In Design has been meeting monthly since April 2018, with events welcoming 20-30 people each month. We’ve heard the stories and insights of UX researcher, Anna Signy; design entrepreneurs, Júlía Runólfsdóttir and Svana Gréta Kristjánsdóttir; motion designer, Sigrun Hreins; and experience designer, Magga Dora.

        p And the feedback has been amazing: 

        p One of the attendees wrote to me after the last event saying: 
          q “What I like about the group is the fact that ‘I am not alone’ with my experiences”

        p And one of the speakers who was really nervous about presenting her work, told me after the event:
          q “The group that attended my lecture was wonderful and encouraging, and I especially enjoyed all the questions at the end.”

        p So now, when you ask me ‘Rachel, we're looking to expand the design team, who do you know that we can approach?’ I am privileged and very proud to be able to recommend women.

        p Women in Design is now a hotbed of design talent and experience, with members working across the fields of branding, web design, UX, print, motion, illustration and more. 

        h4 What about you?
        p So, that's the story of how and why I started this new community. Now, perhaps it's your turn.

        p I thank God that I’ve had the opportunity to set up ‘Women in Design - Reykjavik’ because it has been such a rewarding experience. 

        p I often say to people who thank me for setting up the group, how I wish I’d started it sooner! It took me a year of procrastinating and over analysing between the initial idea to actually holding the first event. What a waste of time and energy!  

        p I would like to encourage you, if you feel like there is a community group that is valuable and important, and that you think is missing, just start!

        p And it is made easy to do with amazing support from fantastic and important initiatives, like the 
          a(href="https://communityfund.co/" target="_blank") Community Fund,
          |  who have helped me finance every single Women In Design event. Holding each event was also made easy by willing workspaces or companies like 
          a(href="https://www.kolibri.is/" target="_blank") Kolibri, 
          a(href="https://aranja.com/" target="_blank") Aranja, 
          a(href="http://gangverk.is/") Gangverk 
          | and 
          a(href="https://www.fjartaekniklasinn.is/" target="_blank") FinTech Cluster 
          | for hosting throughout the year. 


        p I feel privileged to work in an industry which has this open culture. The community is so generous with sharing insights and processes. It feels like people really want to make things more transparent and inclusive, from the products we’re building to the workplaces we work in. 

        p So if you needed a push to get you started with your niche meetup / community idea, this is it: now is a great time to start. 

        p The events are made possible by voluntary speakers and willing workspaces. If your company would like to host an upcoming event, please 
          a(href="mailto:rachel@salmon.design" target="_blank") get in touch! 
          | And the same applies if you know a female designer who could speak at a future event, or if you have further ideas or questions. 


        h4 In closing...

        p Women In Design is a growing community of women in Iceland who are working or interested in design. I am confident that the stronger this network can become, the higher we can help each other climb.  


        p Thank you for listening.
