include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title Sotheby's, Gangverk
    .Project-subTitle UI / UX Design, Design System

    p Established in 1744, Sotheby’s is the world’s largest, most trusted and dynamic marketplace for art and luxury. I worked with the Gangverk team as we sought to bring the excitement of the auction floor to an online experience, allowing bidders to take part in auctions as if in the room, from wherever they had an internet connection. 
    
     .Project-images
      +responsiveImage("/img/sothebys/gallery.png")
      
    p I was part of the Auction Experience team which, amongst other things, was responsible for the auction detail pages, and the live online bidding room.
    p QI played a key part in the design evolution of the auction detail pages. My aim was to design a more storytelling experience for each auction, to create greater interest in what were often items with fascinating origins and histories. I did this by restructuring the page to include a navigation that broke down the auction content into more digestible sections:- auction highlights, which showcased the most exciting / desirable items; all the auction lots, for which I redesigned the filtering; Stories, which bought a little context and narrative to the auction; and then of course Details, which had all the relevant information needed for the bidder to take part in the auction. 

    .Project-images
      +responsiveImage("/img/islandsbanki/colourpalette.png")
    
    p The live online bidding room is a highly interactive part of the Sotheby’s online experience. Potential bidders could participate in bids in real-time, aided with live audio and lot information, as the auction progressed. 

     .Project-images
      +responsiveImage("/img/sothebys/auction.png")

    p A clear and concise design was critical to ensure users could follow along and make bids without friction. In tandem with contributing to the overall design system, I “cleaned up” the bidding room by updating fonts, spacing, iconography, colour, micro animation, and overall page hierarchy to make the ‘room’ easier to navigate and more welcoming to participate in.  
      
    .Project-images
      +responsiveImage("/img/islandsbanki/landing.png")

    p I enjoyed working with a great team of designers, collaborating on design elements that had to work across each part of the Sotheby’s app and website that we were responsible for respectively. I had a great rapport and momentum with the Sotheby’s UX designers in New York, with whom I worked with on a daily basis. We ideated together and user tested prototypes before sharing with key stakeholders and working with development on the best implementation. 

  .Quote.Quote--sothebys
    .container
      .Quote-body I was lucky enough to work with Rachel for a year on consumer facing user flows and experiences. Rachel is an extraordinarily talented team player who digs deep into the problems we're aiming to solve and designs thoughtful, clean solutions.
      .Quote-attribution Lauren Lee - Product Manager, Sotheby’s
