include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title Oxfam
    .Project-subTitle Print Collateral

    p Cambridge is home to possibly THE coolest Oxfam shop in the land: Oxfam on Mill road.
    p Whilst helping out, I was asked to create artwork to market certain offers and opportunities in store.
    p I wanted to create something a bit fun and quirky to match the atmosphere of the shop itself. I'm happy to add that the team were pleased with the results!

   .container
    +responsiveImage("/img/oxfam/fliers.jpg")

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/oxfam/green.jpg")
      .Gallery-image
        +responsiveImage("/img/oxfam/green-reverse.jpg")

  .container
    +responsiveImage("/img/oxfam/poster.jpg")
    +responsiveImage("/img/oxfam/poster2.jpg")
    img(src="/img/oxfam/sketch.jpg")

  include ../includes/behance

