include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title Oxfam
    .Project-subTitle Print Collateral

    p Cambridge is home to possibly THE coolest Oxfam shop in the land: Oxfam on Mill road.
    p Whilst helping out, I was asked to create artwork to market certain offers and opportunities in store.
    p I wanted to create something a bit fun and quirky to match the atmosphere of the shop itself. I'm happy to add that the team were pleased with the results!

<<<<<<< HEAD
   .container
    img(src="/img/oxfam/fliers.jpg")
=======
    +responsiveImage("/img/oxfam/fliers.jpg")
>>>>>>> origin/2016

  .container--wide
    .Gallery
      .Gallery-image
<<<<<<< HEAD
        +responsiveImage("/img/oxfam/green", "jpg")
      .Gallery-image
        +responsiveImage("/img/oxfam/green-reverse", "jpg")

  .container
    +responsiveImage("/img/oxfam/poster", "jpg")
  .container
    +responsiveImage("/img/oxfam/poster2", "jpg")
  .container
    +responsiveImage("/img/oxfam/sketch", "jpg")
=======
        +responsiveImage("/img/oxfam/green.jpg")
      .Gallery-image
        +responsiveImage("/img/oxfam/green-reverse.jpg")

  .container
    +responsiveImage("/img/oxfam/poster.jpg")
    +responsiveImage("/img/oxfam/poster2.jpg")
    +responsiveImage("/img/oxfam/giftaid-poster-box-wip.jpg")
>>>>>>> origin/2016

  include ../includes/behance

