include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title Oxfam
    .Project-subTitle Print Collateral

    p Cambridge is home to possibly THE coolest Oxfam shop in the land: Oxfam on Mill road.
    p Since helping out, I've been asked to create artwork to market certain offers and opportunities in store.
    p When designing for Oxfam Mill Road, I like to create something a bit fun and quirky to match the atmosphere of the shop itself. And I'm happy to say the team were pleased with the results!

    +responsiveImage("/img/oxfam/fliers.jpg")

  .container--wide
    .Gallery
      .Gallery-image
        +responsiveImage("/img/oxfam/green.jpg")
      .Gallery-image
        +responsiveImage("/img/oxfam/green-reverse.jpg")

  .container
    +responsiveImage("/img/oxfam/poster.jpg")
    +responsiveImage("/img/oxfam/poster2.jpg")
    +responsiveImage("/img/oxfam/giftaid-poster-box-wip.jpg")

  include ../includes/behance

