extends ../layout.jade
block content
  .Project
    .Project-title The Liveaboard Trust
    .Project-subTitle Identity

    p The Liveaboard Trust is a soon–to–be charity organisation in Cambridge which supports those who live aboard longboats in and around the county.
    p I was asked to create them an identity which promoted community spirit and social inclusion.
    p I focused on themes of support and connectivity, incorporating nautical motifs with a bold, professional feel.

    .Gallery
      .Gallery-image
        img(src="/img/liveaboard/liveaboard-red.jpg")
      .Gallery-image
        img(src="/img/liveaboard/liveaboard-blue.jpg")

    img(src="/img/liveaboard/liveaboard-jumper.jpg")
    img(src="/img/liveaboard/liveaboard-stationary.jpg")

  include ../includes/behance

