include ../includes/responsive-image

extends ../layout.jade
block content
  .Project
    .Project-title Sylvius Gin
    .Project-subTitle Illustration, packaging, branding

    p This is a personal project. I chose to design a gin that appealed to “geeks”. My chosen design direction was heavily influenced by steampunk, a genre that beautifully combines imaginative storytelling with science and history. The illustrations include a juniper branch, a juniper tree and Sylvius himself, each made up of mechanical parts.
    .Project-sectionTitle Sylvius Gin—The Story
    p Gin was first discovered during the mid–seventeenth century by Franciscus Sylvius, a Dutch doctor. In its original form, gin was prescribed for medicinal purposes, the most notable of which being: ‘the insufferability of being trapped in one’s own body—forever’!
    p The Sylvius family continued to experiment with gin for many generations, tweaking the recipe until it evolved into the optimum Sylvius Gin, which we enjoy today. The quality of our gin is attributed to the small batch distillery process which maintains a refined and perfectly dry taste.
    p Today Sylvius Gin is regarded as one of the finest available and, still recognised for it’s medicinal qualities, it is enjoyed throughout the world by the most discerning arbiters of fine spirits.

  .container
    +responsiveImage("/img/sylvius/wordmark.jpg")
    +responsiveImage("/img/sylvius/illustrations.jpg")
    +responsiveImage("/img/sylvius/branch-bottle.jpg")
    +responsiveImage("/img/sylvius/sylvius-bottle.jpg")
    +responsiveImage("/img/sylvius/tree-goggles.jpg")
    +responsiveImage("/img/sylvius/branch-box.jpg")
    +responsiveImage("/img/sylvius/sketch.jpg")

  include ../includes/behance
