extends ../layout.jade
block content
  .Project
    .Project-title Microsoft Research
    .Project-subTitle Identity and web design

    .container
      p Human Experience &amp; Design (HXD) are a multidisciplinary research group within Microsoft Research, Cambridge. The group consists of highly acclaimed social scientists, software engineers and designers. They draw on a diverse mix of skills and perspectives to develop insights, ideas and artefacts that lead to compelling new experiences for digital living.
      p With such a unique mix of disciplines in one team, I was asked to create a strong visual identity, which would help promote their work as well as consolidate them as a group.
      p After a fun and fascinating research process, I created an identity that is confident, collaborative and approachable.
      p The project included design of a new logo and website, along with a presentation template, email signature, in depth branding guidelines and a redesign of their internal magazine.

    img(src="/img/microsoft/hxd.png")

  .container--wide
    .Gallery
      .Gallery-image
        img(src="/img/microsoft/hxd-brand-guidelines.png")
      .Gallery-image
        img(src="/img/microsoft/hxd-brand-guidelines2.png")

  .Quote.Quote--microsoft
    .container
      .Quote-body Her iterative approach resulted in a strong graphic identity and supporting system that we are extremely proud of.
      .Quote-attribution Richard Banks — Principal Design Manager at Microsoft Research

  .container--wide
    .Gallery
      .Gallery-image
        img(src="/img/microsoft/hxd-website-browser.png")
      .Gallery-image
        img(src="/img/microsoft/hxd-website-mobile.png")

  include ../includes/behance
