extends ./layout.jade
block content
  .Project
    .Project-title The Cambridge Art Salon
    .Project-subTitle Exhibition Print Collateral

    p The Cambridge Art Salon nurtures art and creative ideas created by the public, for the public. For much of March 2014, the Art Salon is holding female-focused exhibitions, in celebration of International Women’s Day.
    p The Rebel Women, Inspirational Girls exhibition was in conjunction with local charity
      a(href="http://www.romseymill.org/" target="_blank")  Romsey Mill
      |  who had worked for a year with teenage girls in the local area, exploring female role models.
    p With this in mind, I wanted the design for this exhibition to reflect fearlessness, positivity and determination, all underpinned by a strong sense of femininity.
    p The design included a 20 page A5 booklet, double-sided A4/A5 fliers, Vinyl stickers and A3 wall mounts.

  .container--wide
    .Gallery
      .Gallery-image
        img(src="/img/cas/rebel-women-front.jpg")
      .Gallery-image
        img(src="/img/cas/rebel-women-back.jpg")

  .Quote.Quote--arts
    .container
      .Quote-body We've had great feedback on the work she's created. It's helped do our work justice having such strong design.
      .Quote-attribution Ruthie Collins, Creative Director, Cambridge Art Salon

  .container--wide
    .Gallery
      .Gallery-image
        img(src="/img/cas/booklets.jpg")
      .Gallery-image
        img(src="/img/cas/booklets-side-on.jpg")

    .Gallery
      .Gallery-image
        img(src="/img/cas/rebel-women-flier-macro.jpg")
      .Gallery-image
        img(src="/img/cas/rebel-woman-vinyl.jpg")

  include ./includes/behance
