extends ./layout.jade
block content
  .Project
    .Project-title Capucine EP
    .Project-subTitle Album Artwork

    p EP cover design for the beautiful and very talented Capucine. 
 
    p Have a listen over on the  
      a(href="https://www.youtube.com/watch?v=5hzEd9k6dpQ" target="_blank") Capucine Official YouTube channel
      | . 
 
    img(src="/img/oxfam/fresher-fliers-all.jpg")
    img(src="/img/oxfam/fresher-flier-green-front.jpg")
    img(src="/img/oxfam/fresher-flier-green-back.jpg")
    img(src="/img/oxfam/giftaid-poster-brain.jpg")
    img(src="/img/oxfam/giftaid-poster-box.jpg")
    img(src="/img/oxfam/giftaid-poster-box-wip.jpg")

