extends ./layout.jade
block content
  .Project
    .Project-title Capucine EP
    .Project-subTitle Album Artwork

    p EP cover design for the beautiful and very talented Capucine.

    p Have a listen over on the
      a(href="https://www.youtube.com/watch?v=5hzEd9k6dpQ" target="_blank")  Capucine Official YouTube channel
      | .

    img(src="/img/capucine/capucine-ep-front-single.jpg")
    img(src="/img/capucine/capucine-ep-spine.jpg")

    .Gallery
      .Gallery-image
        img(src="/img/capucine/capucine-ep-reverse.jpg")
      .Gallery-image
        img(src="/img/capucine/capucine-ep-inners.jpg")

    img(src="/img/capucine/capucine-ep-reverse-closeup.jpg")

