extends ./layout.jade
block content

  .Contact
    .container
      .Contact-hero
        p I'd love to chat with you about your project.
        h3 Let's make something we both love.
        a(href="mailto:rachel@salmondesign.co") rachel@salmondesign.co

      h3.u-brand What I can do for you
      ul
        li Logos, identity and branding
        li Business stationery
        li Book covers
        li Digital publishing
        li Exhibition collatoral
        li Packaging
        li Print publications
        li Posters
        li Web design
