extends ./layout.jade
block content

  .Hero
    .container
      p I'd love to chat with you about your project.
      h3 Let's make something beautiful together!
      a(href="mailto:rachel@salmondesign.co") rachel@salmondesign.co

  .container

    h3.u-brand What I can do for you
    ul
      li Logos, identity and branding
      li Business stationery
      li Book covers
      li Digital publishing
      li Exhibition collatoral 
      li Packaging
      li Print publications
      li Posters
      li Web design