extends ./layout.jade
block content

  .Hero
    .container
      h1 Hi. <br />I'm Rachel Salmon.
      h3 I design brands and websites.

      .HeroLinks
        a(href="https://dribbble.com/rachelsalmon" target="_blank").HeroLink Dribbble
        a(href="https://twitter.com/salmondesign" target="_blank").HeroLink Twitter
        a(href="https://www.behance.net/rachelmsalmon" target="_blank").HeroLink Behance

  .Featured-container
    a(href="/oz").Featured.Featured--oz
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2016
        .Featured-title Building a product at OZ


    a(href="/microsoft").Featured.Featured--microsoft
      .Featured-image.Featured-image--microsoft
      .Featured-content
        .Featured-date.u-smallDigit 2015
        .Featured-title A new face for Microsoft Research

    a(href="/oxfam").Featured.Featured--oxfam
      .Featured-image.Featured-image--oxfam
      .Featured-content
        .Featured-date.u-smallDigit 2014
        .Featured-title Encouraging action for Oxfam

    a(href="/liveaboard").Featured.Featured--liveaboard
      .Featured-image.Featured-image--liveaboard
      .Featured-content
        .Featured-date.u-smallDigit 2014
        .Featured-title Bringing a charity to life

    a(href="/sylvius").Featured.Featured--sylvius
      .Featured-image.Featured-image--sylvius
      .Featured-content
        .Featured-date.u-smallDigit 2014
        .Featured-title An iconic gin 'n' tonic

    a(href="/karneval").Featured.Featured--karneval
      .Featured-image.Featured-image--karneval
      .Featured-content
        .Featured-date.u-smallDigit 2014
        .Featured-title Giving paint a bit of color

  include ./includes/behance
