extends ./layout.jade
block content

  .Hero
    .container
      h1 Hi, I'm Rachel Salmon.
      h3 I’m a graphic &amp; web designer.  
      h3 Below are some of my featured projects. Take a look around and don't hesitate to 
        a(href="mailto:rachel@salmondesign.co") say hello
        | .

  .Featured.Featured--microsoft
    .container
      .Featured-date December
        span.Featured-year  2014
      .Featured-title Microsoft Research
      .Featured-description Identity design for the Human Experience &amp; Design group at Microsoft Research, Cambridge.
      a(href="microsoft.html").Featured-link Read more
      .Featured-image.Feature-image--microsoft

  .Featured.Featured--oxfam
    .container
      .Featured-date November
        span.Featured-year  2014
      .Featured-title Oxfam
      .Featured-description Print collatoral design for Oxfam, Mill Road in Cambridge.
      a(href="#").Featured-link Read more
      .Featured-image.Feature-image--oxfam

  .Featured.Featured--capucine
    .container
      .Featured-date July
        span.Featured-year  2014
      .Featured-title Capucine EP
      .Featured-description Album artwork for the beautiful and talented Capucine.
      a(href="#").Featured-link Read more
      .Featured-image.Feature-image--capucine

  .Featured.Featured--liveaboard
    .container
      .Featured-date March
        span.Featured-year  2014
      .Featured-title The Liveaboard Trust
      .Featured-description Identity design for a Cambridge-based charity.
      a(href="#").Featured-link Read more
      .Featured-image.Feature-image--liveaboard

  .Featured.Featured--arts
    .container
      .Featured-date March
        span.Featured-year  2014
      .Featured-title The Cambridge Art Salon
      .Featured-description Print collatoral design for a Cambridge-based charity.
      a(href="#").Featured-link Read more
      .Featured-image.Feature-image--arts

  include ./includes/behance
