extends ./layout.jade
block content

  .Hero
    .container
      h1 Hi.<br />I'm Rachel Salmon.
      h3 Senior Product Designer

  .Featured-container
    a(href="/grid").Featured.Featured--grid
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2023
        .Featured-title Creating the all-in-one data tool

    a(href="/sothebys").Featured.Featured--sothebys
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2020
        .Featured-title Re-imagining the online experience at sothebys.com
        
    a(href="/islandsbanki").Featured.Featured--isblogo
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2019
        .Featured-title Revamping the bank's largest branch

    a(href="/godigital").Featured.Featured--godigital
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2016
        .Featured-title Refreshing a conference

    a(href="/oz").Featured.Featured--oz
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2016
        .Featured-title Building a product at OZ

    a(href="/microsoft").Featured.Featured--microsoft
      .Featured-image.Featured-image--microsoft
      .Featured-content
        .Featured-date.u-smallDigit 2015
        .Featured-title A new face for Microsoft Research
