extends ./layout.jade
block content

  .Hero
    .container
      h1 Hi.<br />I'm Rachel Salmon.
      h3 Digital Product Designer

  .Featured-container
    a(href="/islandsbanki").Featured.Featured--isblogo
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2019
        .Featured-title Revamping the bank's largest branch

    a(href="/godigital").Featured.Featured--godigital
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2016
        .Featured-title Refreshing a conference

    a(href="/travelex").Featured.Featured--travelex
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2016
        .Featured-title Typography for Travelex

    a(href="/oz").Featured.Featured--oz
      .Featured-image
      .Featured-content
        .Featured-date.u-smallDigit 2016
        .Featured-title Building a product at OZ

    a(href="/microsoft").Featured.Featured--microsoft
      .Featured-image.Featured-image--microsoft
      .Featured-content
        .Featured-date.u-smallDigit 2015
        .Featured-title A new face for Microsoft Research

    a(href="/karneval").Featured.Featured--karneval
      .Featured-image.Featured-image--karneval
      .Featured-content
        .Featured-date.u-smallDigit 2014
        .Featured-title Giving paint a bit of colour

  include ./includes/behance
