doctype html
html
  head
    meta(charset="utf-8")
    title Salmon Design
    link(rel='stylesheet', href='css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100,400,700' rel='stylesheet' type='text/css')
  body
    include ./includes/header

    block content

    include ./includes/footer

    //script(src="js/app.js")
