doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Rachel Salmon is an English digital product designer based in Reykjavik.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title' content='Rachel Salmon. Digital product designer')
    meta(property='og:type' content='website')
    meta(property='og:image' content='http://salmon.design/og.png')
    meta(property='og:image:type' content='image/png')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(property='og:url' content='http://salmon.design')
    meta(property='og:description' content='Rachel Salmon is an English digital product designer based in Reykjavik.')
    title Salmon Design
    link(rel='stylesheet', href='/css/main.css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css')
  body
    include ./includes/header

    block content

    include ./includes/footer

    //script(src="/js/app.js")
