extends ./layout.jade
block content
  .Project
    .Project-title The Liveaboard Trust
    .Project-subTitle Identity

    p The Liveaboard Trust is a soon-to-be charity organisation in Cambridge which supports those who live aboard longboats in and around the county.
    p I was asked to create them an identity which promoted community spirit and social inclusion.
    p I focused on themes of support and connectivity, incorporating nautical motifs with a bold, professional feel. the atmosphere of the shop itself. And I'm happy to say the team were pleased with the results!

    img(src="/img/liveaboard/liveaboard-logo.png")
    img(src="/img/liveaboard/liveaboard-jumper.jpg")
    img(src="/img/liveaboard/liveaboard-stationary.jpg")
    img(src="/img/liveaboard/liveaboard-red.jpg")
    img(src="/img/liveaboard/liveaboard-blue.jpg.jpg")