extends ./layout.jade
block content
  .Resume
    .container
      h2 Resume

      .Resume-section
        h3 About me
        p I'm a designer who's still thinking about what to write in this wee box wbut it will come one day soon.

      .Resume-section
        h3 Experience
        .Job
          .Job-date Jan 15 &mdash; Feb 15
          .Job-details
            .Job-title Omobono, Cambridge
            .Job-subtitle Freelance designer
            .Job-description Report design, infographics and web design for clients and a large consultancy business.
