extends ./layout.jade
block content
  .Resume
    .container
      h2 Rachel Salmon

      h3 Experience
      h5 Omobono
        span.muted  (Current)
      p

      h5 Microsoft Research
        span.muted  (October - Decemeber 2014)
      p Design and implementation of a new identity for the 'Socio-digital Systems' group, renamed to 'Human Experience &amp; Design' within Microsoft Research, Cambridge.

      h5 Freelance Graphic Designer
      p

      h3 Education
      h5 Shillington College, London
      h6 Certificate IV in Design, Graphic Design &amp; Communications

      h5 University of Southampton
      h6 BA English
