extends ./layout.jade
block content
  .Resume
    .container

      .Resume-section
        .Resume-sectionTitle About me
        .Resume-about
          .Resume-pic
          .Resume-aboutDetails
            p I'm a designer obsessed with clean and clear design. I design for work and fun.
            p I'm currently looking for a position in a small design agency or software startup in Reykjavík.

      .Resume-section
        .Resume-sectionTitle Experience
        .Job
          .Job-date January 2015 &mdash; February 2015
          .Job-details
            .Job-title Omobono, Cambridge
            .Job-subtitle.u-smallCaps Graphic
              span.u-small  &amp;
              |  web designer &mdash; freelancer
            .Job-description Working alongside the Omobono creative team on numerous B2B web and print projects for major global clients.

        .Job
          .Job-date September 2014 &mdash; December 2014
          .Job-details
            .Job-title Microsoft Research, Cambridge
            .Job-subtitle.u-smallCaps Graphic
              span.u-small  &amp;
              |  web designer &mdash; contractor
            .Job-description Designing the visual identity and website for the Human Experience &amp; Design team within Microsoft Research, Cambridge.

        .Job
          .Job-date January 2014 &mdash; Present
          .Job-details
            .Job-title Salmon Design.co
            .Job-subtitle.u-smallCaps Freelance graphic
              span.u-small  &amp;
              |  web designer
            .Job-description Designing marketing collateral and brand identities for a variety of start-up businesses and charities in and around Cambridgeshire, UK.

        .Job
          .Job-date July 2013 &mdash; January 2014
          .Job-details
            .Job-title Beyond Communications, London
            .Job-subtitle.u-smallCaps Office Manager
              span.u-small  /
              |  Account Executive
            .Job-description Promoted to Account Executive after 3 months. Supporting the account management team and designers as the daily contact for project-based work, as well as carrying out research, proofreading and copywriting for clients such as The British Heart Foundation and Nailsea Shopping Centre.

      .Resume-section
        .Resume-sectionTitle Education
        .Job
          .Job-date September 2013 &mdash; July 2014
          .Job-details
            .Job-title Shillington College, London
            .Job-subtitle.u-smallCaps Certificate IV in Design
            .Job-description Practical training in the Adobe suite applications in a studio-style set up.

        .Job
          .Job-date October 2008 &mdash; July 2011
          .Job-details
            .Job-title University of Southampton
            .Job-subtitle.u-smallCaps BA English
              span.u-smallDigit  2:1
            .Job-description Dissertation: An analysis on Black-Jewish relations in the work of James Baldwin and Saul Bellow during the American Civil Rights Movement.
